<template>
  <div id="chat">
      <div class="chat_list" @scroll="load">
      <section v-for="{ index, key, name, date, image, message, id } in chatlimit" :key="key" class="chat">
        <div class="chat_image"><img :src="image" width="64" height="64"></div>
        <div class="chat_detail">
          <div class="chat_detail_name">
            <p>{{ name }}</p>
            <p>{{ date }}</p>
          </div>
          <div class="chat_detail_message">
            <p>{{ message }}</p>
            <p class="del" v-if="id == user.uid" @click="del(key)">
              <span>削除する</span>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import * as firebase from 'firebase/app'
import 'firebase/database'
export default {
  name: "Chat",
  props: ['chat','user'],
  data(){
    return{
      limit: 20
    }
  },
  methods:{
    del(key){
      if(window.confirm('本当に削除しますか？')){
        firebase.database().ref('message/' + key).remove()
        alert("successful!")
      }
      else
        return
    },
    load(){
      let chat = document.querySelector('.chat_list')
      let h = chat.scrollTop
      // console.log(h)
      if(h == 0){
        if(this.lastchat > this.limit){
          this.limit += 5
          chat.scrollTop = 200
        }
        else
          return;
      }
    }
  },
  computed:{
    chatlimit(){
      return this.chat.slice(this.limitchat,this.lastchat)
    },
    limitchat(){
      if(this.chat.length >= this.limit){
        return this.chat.length - this.limit
      }
      else{
        return 0
      }

    },
    lastchat(){
      return this.chat.length 
    }
  }

}
</script>

<style lang="scss">
@import '@/assets/css/style.scss';
#chat{
  height: 100%;
  overflow: hidden;
  .chat_list{
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
.chat{
  border-bottom: dashed 1px #111;
  display: grid;
  grid-template-columns: 64px 1fr;
  padding: 10px 5px;
  position: relative;
  transition: .1s all ease;
  &:last-child{
    border-bottom: none;
  }
  &:hover{
    background: rgba(100, 0, 0, 0.1);
    .del{
      display: inline-block;
      position: absolute;
      right: 10px; top: 5px;
      cursor: pointer;
      span{
        font-size: 12px;
        color: #c55c66;
        border-bottom: 1px solid #c55c66;
        padding-bottom: 1px;
      }
    }
  }
  &_image{
    border-radius: 50%;
    height: 64px; width: 64px;
    display: flex;
    align-items: center;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
  &_detail{
    margin-left: 15px;
    display: grid;
    grid-template-rows: 22px 1fr;
    @include hobbit{
      grid-template-rows: minmax(22px, 40px) 1fr;
    }
    &_name{
      display: flex;
      p{
        font-size: 14px;
        margin: 0;
        color: #111;
        &:last-child{
          color: #232323;
          font-size: 11px;
          margin-left: 5px;
          line-height: 20px;
        }
      }
      @include hobbit{
        flex-direction: column;
        flex-wrap: wrap;
        p{
          font-size: 13px;
          &:last-child{
            margin-left: 0;
            font-size: 10px;
          }
        }
      }
    }
    &_message{
      p{
        margin: 0;
        font-size: 17px;
      }
      .del{
        display: none;
      }
    }
  }
}
.chat-leave-active,
.chat-enter-active {
    transition: opacity .6s, transform .5s ease;
}
.chat-leave-to,
.chat-enter {
    opacity: 0;
    transform: translateX(70px);
}
.chat-leave,
.chat-enter-to {
    opacity: 1;
}

</style>
