<template>
  <div id="send">
    <form @submit.prevent="doSend" class="form">
      <input type="text" :disabled="!user.uid" class="form_input" v-model.trim="input" maxlength="140">
      <label for="" class="form_length">{{ input.length }}/140</label>
      <button type="submit" :disabled="!user.uid" class="form_button">Send</button>
    </form>
  </div>
</template>

<script>
import * as firebase from 'firebase/app'
import "firebase/auth"
import 'firebase/database'
export default {
  name: "Send",
  props: ['user'],
  data(){
    return{
      input: ''
    }
  },
  methods:{
    doSend(){
      if (this.user.uid && this.input.length){
        let nowDate = this.nowDate()
        firebase.database().ref('message').push({
          message: this.input,
          name: this.user.displayName,
          image: this.user.photoURL,
          id: this.user.uid,
          date: nowDate
        }, () => {
          this.input = ''
        })
      }
    },
    nowDate(){
      var now = new Date();
      var year = now.getFullYear();
      var mon = now.getMonth()+1; //１を足すこと
      var day = now.getDate();
      var hour = now.getHours();
      var min = now.getMinutes();
      var sec = now.getSeconds();

      //出力用
      var s = year + "年" + mon + "月" + day + "日" + hour + "時" + min + "分" + sec + "秒"; 
      return s;
    }
  },
  mounted(){
    document.onkeydown = e =>{
      if(e.key == "n"){
        document.querySelector(".form_input").focus()
        return false
      }
    }
  },
  beforeDestroy(){
    document.onkeydown = null
  }

}
</script>

<style lang="scss">
#send{
  .form{
    display: flex;
    width: 95%;
    margin: 0 auto;
    position: relative;
    &_input{
      max-width: 100%;
      width: 100%;
      background-color: #fff;
      border: 0;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 5px;
      color: #363636;
      height: 24px;
      font-size: 16px;
      padding: 5px 9px;
      &:focus {
        border: 1px solid #7957d5;
        box-shadow: none;
        outline: none;
      }
      &:disabled{
        cursor: default;
        background-color: #ccc;
        opacity: 0.7;
      }
    }
    &_button{
      margin-left: 10px;
      background-color: #7957d5;
      border-color: transparent;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px 12px;
      transition: .1s all ease;
      &:hover{
        background-color: #593da7;
        color: #ddd;
      }
      &:disabled{
        cursor: default;
        background-color: #ccc;
        color: #eee;
        &:hover{
          background-color: #ccc;
          color: #eee;
        }
      }
      &:active{
        outline: none;
      }
      outline: none;
    }
    &_length{
      position: absolute;
      color: #888;
      right: 84px;
      line-height: 28px;
      font-size: 12px;
      margin-top: 6px;
    }
  }
}
</style>