<template>
  <div id="app">
    <div class="ac">
      <Account :user="user"/>
    </div>
    <div class="play">
      <Chat :chat="chat" :user="user"/>
      <Send :user="user"/>
    </div>
  </div>
</template>

<script>
import * as firebase from 'firebase/app'
import "firebase/auth"
import 'firebase/database'
import Account from "@/components/Account.vue";
import Chat from "@/components/Chat.vue";
import Send from "@/components/Send.vue";
export default {
  name: 'app',
  components:{
    Account,
    Chat,
    Send
  },
  data(){
    return{
      user: {},
      chat: []
    }
  },
  methods:{
    childAdded(snap) {
      const message = snap.val()
      this.chat.push({
        key: snap.key,
        name: message.name,
        image: message.image,
        message: message.message,
        id: message.id,
        date: message.date
      })
      this.scrollBottom()
    },
    childRemoved(snap){
      for(let i = 0; i < this.chat.length; i++){
        if(this.chat[i].key === snap.key){
          this.chat.splice(i, 1)
          break
        }
      }
    },
    scrollBottom(){
      this.$nextTick(() => {
        let chat = document.querySelector('.chat_list')
        chat.scrollTop = chat.scrollHeight
      })
    }

  },
  created(){
    firebase.auth().onAuthStateChanged(user => {
      this.user = user ? user : {}

    })
    const ref_message = firebase.database().ref('message')
    this.chat = []
    // message に変更があったときのハンドラを登録
    ref_message.on('child_added', this.childAdded)
    ref_message.on('child_removed', this.childRemoved)

  }
}
</script>

<style lang="scss">
@import '@/assets/css/style.scss';
#app {
  display: grid;
  grid-template-columns: minmax(270px, 420px) 1fr;
  padding: 0 9px;
  height: 100%;
  @include hobbit{
    grid-template-columns: 1fr;
    .ac{
      display: none;
    }
  }
  div{
    height: 100%;
    overflow: hidden;
  }
  .play{
    display: grid;
    grid-template-rows: 1fr 48px;
    grid-gap: 15px;
  }
}
</style>
